<h1>Registro de horario</h1>

<div class="schedule-div">
  <table class="schedule">
    <thead>
      <tr>
        <th>Hora</th>
        <% Day.all.each do |day| %>
          <th><%= day.name %></th>
        <% end %>
      </tr>
    </thead>

    <% end %>
    <% Hour.all.each do |hour| %>
      <tr>
        <th><%= hour.name %></th>
        <% Day.all.each do |day|%>
          <td> <%= check_box_tag (:id_name) %> </td>
        <% end %>
      </tr>
    <% end %>
</div>

<br>

<%= link_to 'Back', advisor_sessions_path(@advisor) %>
