<body id="bod">
  <div id="login">
    <div id="fields" >
      <h1>Bienvenido a MOCA</h1>
      <% 8.times do %>
      <br>
      <% end %>
      <h3>¿Desea inscribirte a nuestra plataforma?</h3>
      <%= button_to 'Registrarse', new_student_path, method: 'get' %>
      <br>
      <h3>¿Ya estás inscrito?</h3>
      <%= button_to 'Ingresar', students_path, method: 'get' %>
    </div>
  </div>
</body>
